<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Antian IntelliTrade</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @{
                    var show = $"style=display:block;";
                    var hide = $"style=display:none;";
                }
                <div class="row" style="width:100%;">
                    <div class="col-3">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Antian IntelliTrade</a>
                        <span id="timeLeft"></span>
                    </div>
                    <div class="col-6">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a data-toggle="modal" data-target="#exampleModal" @(!ViewBag.IsAuthenticated ? hide : show)>Data</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Home/Login" @(!ViewBag.IsAuthenticated ? hide : show)>Strategies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="navbar-nav">
                            <li class="nav-item spacer">
                                <img width="15" height="15" id="marketStatus" src="~/images/statusred.png" />
                            </li>
                            <li class="nav-item">
                                <a href="/Home/Profile" @(!ViewBag.IsAuthenticated ? hide : show)>Welcome</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Home/Login" @(ViewBag.IsAuthenticated ? hide : show)>Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Home/Logout" @(!ViewBag.IsAuthenticated ? hide : show) onclick="closeWebSocket()">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Antian - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/mdb/popper.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/mdb/mdb.min.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

<!-- Modal -->
<div class="modal fade modal-dialog modal-dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Download data...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <label>Scrip</label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Search scrip.." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>Selected</label>
                    </div>
                    <div class="col-9">
                        <label>BANKNIFTY</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>Interval</label>
                    </div>
                    <div class="col-6">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Interval
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">minute</a>
                                <a class="dropdown-item" href="#">3minutes</a>
                                <a class="dropdown-item" href="#">5minutes</a>
                                <a class="dropdown-item" href="#">10minutes</a>
                                <a class="dropdown-item" href="#">15minutes</a>
                                <a class="dropdown-item" href="#">30minutes</a>
                                <a class="dropdown-item" href="#">60minutes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>60-Minutes</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>From: </label>
                        <input data-provide="datepicker">
                    </div>
                    <div class="col-6">
                        <label>To:</label>
                        <input data-provide="datepicker">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
</div>
</html>
